{% extends "base.html" %}
{% block title %}
{% endblock %}


{% block content %}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-6 col-xl-3">
        <div class="card my-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div class="avatar-sm bg-soft-info rounded">
                            <i class="bi bi-cash-coin avatar-title font-22 text-info"></i>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="text-end">
                            <h3 class="text-dark my-1 amount"><span data-plugin="counterup "
                                    class="figures">{{total_agents}}</span></h3>
                            <p class="text-muted mb-1 text-truncate head"> <b>Total Agents</b>
                            </p>
                        </div>
                    </div>
                </div>
                <!-- <div class="mt-3">
                    <h6 class="text-uppercase">Target <span class="float-end">60%</span></h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%">
                            <span class="visually-hidden">60% Complete</span>
                        </div>
                    </div>
                </div> -->
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

</div>
<!-- end row -->
 


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title">Agent Profiles</h4>
                <p class="sub-header">
                    Active Agent Profile(s) Collecting FISP Deposits
                </p>
                <!-- row row-cols-sm-auto g-2 align-items-center -->
                <div class="mb-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="col">
                        <div class="row">

                        <div class="text-end">

                            <form class="row row-cols-sm-auto align-items-center" method="GET" action="{% url 'account:agent_filter' %}">
                                <div class="col-9">
                                    <input id="demo-foo-search" type="text" placeholder="Search" name="q"
                                    class="form-control form-control-sm  " autocomplete="on">
                                </div>
                                <div class=" col-1">
                                    <input type="submit" 
                                    class="btn btn-sm btn-outline-success" value="Q">
                                </div>
                            </form>
                        </div>
                    </div>

                    </div>
                    <a  href="{% url 'account:export_all_agents_excel' %}" class="col-1 btn btn-sm me-2 btn-primary ">Export Excel</a> 

                        <form method="GET" action="{% url 'account:agent_filter' %}" class="col-1 ">
                            <select id="province-filter" name="province" class="form-select form-select-sm">
                                {% if province %}
                                <option value="{{province}}">{{province}}</option>
                                {% endif %}
                                <option value="all">Show all</option>
                                {% for i in unique_provinces %}
                                    <option value="{{i}}">{{i}}</option>
                                {% endfor %}
                            </select>
                        </form >                       
                    </div>
                </div>

                <div class="table-responsive">
                    <table id="demo-foo-filtering"
                        class="table table-bordered toggle-circle mb-0 footable-loaded footable default"
                        data-page-size="">
                        <thead>
                            <tr>
                                <th data-toggle="true"
                                    class="footable-visible footable-sortable footable-sorted-desc footable-first-column">
                                    First Name
                                </th>
                                <th class="footable-visible footable-sortable">Last Name 
                                </th>
                                <th data-hide="phone" class="footable-sortable footable-visible">Agent Number 
                                </th>
                                <th data-hide="phone, tablet" class="footable-sortable footable-visible">
                                    Agent Code
                                </th>
                                <th data-hide="phone, tablet" class="footable-sortable footable-visible">
                                    Agent Type
                                </th>
                                <th data-hide="phone, tablet"
                                class="footable-sortable footable-visible footable-last-column">District 
                            </th>
                                <th data-hide="phone, tablet"
                                    class="footable-sortable footable-visible footable-last-column">Province 
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if agentprofiles %}
                            {% for obj in agentprofiles %}
                            <tr class="footable-even">
                                    <td class="footable-visible footable-first-column">
                                        <a href="{% url 'account:agent-details' obj.pk %}">
                                        <span
                                        class="footable-toggle"></span>{{obj.first_name}}
                                    </a>
                                    </td>
                                    <td class="footable-visible">{{obj.last_name}}</td>
                                    <td class="footable-visible">{{obj.phonenumber}}</td>
                                    <td class="footable-visible">{{obj.code}}</td>
                                    <td class="footable-visible">{{obj.agent_type}}</td>
                                    <td class="footable-visible">{{obj.district}}</td>
                                    <td class="footable-visible footable-last-column"> 
                                        {{obj.province}}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <div class="h4 text-danger"> No Records Found</div>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr class="active">
                                <td colspan="7" class="footable-visible">
                                    {% if page_obj %}
                                    <div class="text-end">
                                        <ul
                                            class="pagination pagination-rounded justify-content-end footable-pagination mb-0">
                                            
                                            <li class="footable-page-arrow disabled p-2">
                                                <span class="step-links">
                                                    {% if page_obj.has_previous %}
                                          
                                                    {% endif %}
            
                                                    <span class="current">
                                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                                    </span>
            
                                                    {% if page_obj.has_next %}
                                            
                                                    {% endif %}
                                                </span>
                                            </li>
                                            {% if page_obj.has_previous %}
                                            <li class="footable-page-arrow disabled"><a data-page="first" href="?page=1">«</a></li>
                                            <li class="footable-page-arrow disabled"><a data-page="prev" href="?page={{ page_obj.previous_page_number }}">‹</a></li>
                                            {% endif %}
                                            {% for i in page_obj.paginator.page_range %}
                                            {% if i == page_obj.number %}
                                            <li class="footable-page active"><a data-page="0" href="?page={{ i }}">{{ i }}</a></li>
                                            {% endif %}
                                            {% endfor %}
                                            {% if page_obj.has_next %}
                                            <li class="footable-page-arrow"><a data-page="next" href="?page={{ page_obj.next_page_number }}">›</a></li>
                                            <li class="footable-page-arrow"><a data-page="last" href="?page={{ page_obj.paginator.num_pages }}">»</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div> <!-- end .table-responsive-->
            </div>
        </div> <!-- end card -->
    </div> <!-- end col -->
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get the <select> element by its id
        var selectElement = document.getElementById('province-filter');
    
        // Add an event listener to trigger form submission on change
        selectElement.addEventListener('change', function () {
            this.form.submit(); // Submit the form when an option is selected
        });
    });
</script>


{% endblock %}