{% extends "base.html" %}
{% block title %}
{% endblock %}


{% block content %}

<div class="row" style="margin-top: 30px;">
    <div class="col-md-6 col-xl-3">
        <div class="card my-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-sm bg-soft-info rounded">
                            <i class="bi bi-cash-coin avatar-title font-22 text-info"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1 amount">K<span data-plugin="counterup "
                                    class="figures">{{total_amount}}</span></h3>
                            <p class="text-muted mb-1 text-truncate head"> <b>Total Txn Amount</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6 class="text-uppercase">Target <span class="float-end">60%</span></h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                            aria-valuemax="100" style="width: 60%">
                            <span class="visually-hidden">60% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-md-6 col-xl-3">
        <div class="card my-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-sm bg-soft-info rounded">
                            <i class="bi bi-cash-coin avatar-title font-22 text-info"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1"><span data-plugin="counterup"> {{total_transaction_count}}
                                </span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate"><b>Total No. Transactions</b>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6 class="text-uppercase">Target <span class="float-end">49%</span></h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-info" role="progressbar" aria-valuenow="49" aria-valuemin="0"
                            aria-valuemax="100" style="width: 49%">
                            <span class="visually-hidden">49% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-md-6 col-xl-3">
        <div class="card my-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-sm bg-soft-info rounded">
                            <i class="bi bi-cash-coin avatar-title font-22 text-info"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1">K<span data-plugin="counterup">{{deposited_amount}}
                                </span></h3>
                            <p class="text-muted mb-1 text-truncate"><b>Desposit Amount</b>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6 class="text-uppercase">Target <span class="float-end">18%</span></h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="18" aria-valuemin="0"
                            aria-valuemax="100" style="width: 18%">
                            <span class="visually-hidden">18% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->

    <div class="col-md-6 col-xl-3">
        <div class="card my-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6">
                        <div class="avatar-sm bg-soft-info rounded">
                            <i class="bi bi-cash-coin avatar-title font-22 text-info"></i>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="text-end">
                            <h3 class="text-dark my-1">K<span data-plugin="counterup" class="expence ">
                                    {{deposited_await}}</span>
                            </h3>
                            <p class="text-muted mb-1 text-truncate"><b>Deposit Awaiting </b>

                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-3">
                    <h6 class="text-uppercase">Target <span class="float-end">74%</span></h6>
                    <div class="progress progress-sm m-0">
                        <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="74" aria-valuemin="0"
                            aria-valuemax="100" style="width: 74%">
                            <span class="visually-hidden">74% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<!-- end row -->



<div class="row">
    <div class="col-lg-12 ">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Transactions</h4>

                <div style="display:flex; justify-content:space-between">
                    <div class="row">
                        <div class="col-md-12" style="padding-left: 15px;">
                            <form method="post" action="{% url 'account:search' %}">

                                <div class="input-group mb-3">
                                    {% csrf_token %}
                                    <input type="text" class="form-control" name="q" placeholder="Search...">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Add advanced filter dropdown -->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Advanced Filter
                        </button>
                        <ul class="dropdown-menu " style="width: 400px;" aria-labelledby="dropdownMenu2">
                            <form class="px-4 py-3 " method="post" action="{% url 'account:filter_view' %}">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </form>
                        </ul>
                    </div>

                </div>

                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead class="thead-light">
                            <tr>
                                <th>ATD no</th>
                                <th>Amount</th>
                                <th>Agent</th>
                                <th>Leader Number</th>
                                <th>Depositer Number</th>
                                <th class="text-center">RefId</th>
                                <th>Deposited</th>
                                <th class="text-center">Time</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for obj in transactions %}
                            <tr data-index="0">
                                <td>
                                    <a class="btn-link" data-bs-toggle="modal" href="#exampleModalToggle-{{obj.id}}"
                                        role="button">
                                        {{obj.transAdt}}
                                    </a>
                                </td>
                                <td>{{obj.transAmount}}</td>
                                <td><span class="text-muted">{{obj.agent}}</span></td>
                                <td style="text-align: center; ">{{obj.leadernumber}}</td>
                                <td style="text-align: center; ">{{obj.depositer}}</td>
                                <td style="text-align: center; ">{{obj.transRef}}</td>
                                <td style="text-align: center; ">{{obj.get_deposit_status}}</td>
                                <td style="text-align: center; ">{{obj.timestamp}}</td>
                            </tr>
                            <div class="modal fade" id="exampleModalToggle-{{obj.id}}" aria-hidden="true"
                                aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalToggleLabel">FISP Transaction</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <ul class="list-group">
                                                {% if not obj.isDeposited %}
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">

                                                    Money Deposited by agent?
                                                    <div>
                                                        <a class="btn btn-sm btn-outline-success"
                                                            href="{{obj.set_is_deposit}}">Yes</a>
                                                    </div>
                                                </li>
                                                {% endif %}

                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    ATD No.
                                                    <span class="">{{obj.transAdt}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Leader Number
                                                    <span class="">{{obj.leadernumber}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Deposit Number
                                                    <span class="">{{obj.depositer}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Numbwe Of Farmers
                                                    <span class="">{{obj.numberOfFarmers}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Agent Names
                                                    <span class="">{{obj.agent}}</span>
                                                </li>
                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Agent Number
                                                    <span class="">{{obj.agent.phonenumber}}</span>
                                                </li>


                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    transRef
                                                    <span class="">{{obj.transRef}}</span>
                                                </li>

                                                <li
                                                    class="list-group-item d-flex justify-content-between align-items-center">
                                                    Status
                                                    <span
                                                        class="badge bg-success rounded-bill p-1">{{obj.get_status}}</span>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            {% endfor %}
                        </tbody>
                    </table>
                    <tfoot>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </tfoot>

                    <div class="bootstrap-table bootstrap5">
                        <div class="fixed-table-toolbar"></div>

                        <div class="fixed-table-container" style="padding-bottom: 0px;">
                            <div class="fixed-table-header" style="display: none;">
                                <table></table>
                            </div>
                            <div class="fixed-table-body">
                                <div class="fixed-table-loading table table-bordered table-hover" style="top: 1px;">
                                    <span class="loading-wrap">
                                        <span class="loading-text">Loading, please wait</span>
                                        <span class="animation-wrap"><span class="animation-dot"></span></span>
                                    </span>

                                </div>
                                <table data-toggle="table" data-page-size="5" data-buttons-class="xs btn-light"
                                    data-pagination="true" class="table-bordered table table-hover"
                                    style="display: table;">
                                    <thead class="table-light" style="">
                                        <tr>
                                            <th class="bs-checkbox " style="width: 36px; " data-field="state">
                                                <div class="th-inner "><label><input name="btSelectAll"
                                                            type="checkbox"><span></span></label></div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="id">
                                                <div class="th-inner ">ATD Number</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="name">
                                                <div class="th-inner ">Amount</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="date">
                                                <div class="th-inner ">Agent</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="amount">
                                                <div class="th-inner ">Leader Number</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="user-status">
                                                <div class="th-inner ">Depositer Number</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="user-status">
                                                <div class="th-inner ">RefId</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                            <th style="" data-field="user-status">
                                                <div class="th-inner ">Time</div>
                                                <div class="fht-cell"></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for obj in transactions %}
                                        <tr data-index="3" class="">
                                            <td class="bs-checkbox " style="width: 36px; "><label>
                                                <input data-index="3" name="btSelectItem-{{obj.id}}" type="checkbox">
                                                    <span></span>
                                                </label></td>
                                            <td>
                                                <a class="btn-link" data-bs-toggle="modal" href="#exampleModalToggle-{{obj.id}}"
                                                role="button">{{obj.transAdt}}
                                                </a>
                                            </td>
                                            <td>{{obj.transAmount}}</td>
                                            <td>{{obj.agent}}</td>
                                            <td>{{obj.leadernumber}}</td>
                                            <td>{{obj.depositer}}</td>
                                            <td>{{obj.transRef}}</td>
                                            <td><span class="badge bg-success">{{obj.get_deposit_status}}</span></td>
                                            <td>{{obj.timestamp}}</td>
                                        </tr>
                                        <div class="modal fade" id="exampleModalToggle-{{obj.id}}" aria-hidden="true"
                                            aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalToggleLabel">FISP Transaction</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
            
                                                        <ul class="list-group">
                                                            {% if not obj.isDeposited %}
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
            
                                                                Money Deposited by agent?
                                                                <div>
                                                                    <a class="btn btn-sm btn-outline-success"
                                                                        href="{{obj.set_is_deposit}}">Yes</a>
                                                                </div>
                                                            </li>
                                                            {% endif %}
            
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                ATD No.
                                                                <span class="">{{obj.transAdt}}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Leader Number
                                                                <span class="">{{obj.leadernumber}}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Deposit Number
                                                                <span class="">{{obj.depositer}}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Numbwe Of Farmers
                                                                <span class="">{{obj.numberOfFarmers}}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Agent Names
                                                                <span class="">{{obj.agent}}</span>
                                                            </li>
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Agent Number
                                                                <span class="">{{obj.agent.phonenumber}}</span>
                                                            </li>
            
            
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                transRef
                                                                <span class="">{{obj.transRef}}</span>
                                                            </li>
            
                                                            <li
                                                                class="list-group-item d-flex justify-content-between align-items-center">
                                                                Status
                                                                <span
                                                                    class="badge bg-success rounded-bill p-1">{{obj.get_status}}</span>
                                                            </li>
            
                                                        </ul>
                                                    </div>
            
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="fixed-table-footer"></div>
                        </div>
                        <div class="fixed-table-pagination">
                            <div class="float-left pagination-detail"><span class="pagination-info">
                                    Showing 1 to 5 of 30 rows
                                </span>
                                <div class="page-list">
                                    <div class="btn-group dropdown dropup">
                                        <button class="btn btn-xs btn-light dropdown-toggle" type="button"
                                            data-bs-toggle="dropdown">
                                            <span class="page-size">
                                                5
                                            </span>
                                            <span class="caret"></span>
                                        </button>
                                        <div class="dropdown-menu"><a class="dropdown-item " href="#">10</a><a
                                                class="dropdown-item " href="#">25</a><a class="dropdown-item "
                                                href="#">50</a></div>
                                    </div> rows per page
                                </div>
                            </div>
                            <div class="float-right pagination">
                                <ul class="pagination">
                                    <li class="page-item page-pre"><a class="page-link" aria-label="previous page"
                                            href="javascript:void(0)">‹</a></li>
                                    <li class="page-item active"><a class="page-link" aria-label="to page 1"
                                            href="javascript:void(0)">1</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="to page 2"
                                            href="javascript:void(0)">2</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="to page 3"
                                            href="javascript:void(0)">3</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="to page 4"
                                            href="javascript:void(0)">4</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="to page 5"
                                            href="javascript:void(0)">5</a></li>
                                    <li class="page-item"><a class="page-link" aria-label="to page 6"
                                            href="javascript:void(0)">6</a></li>
                                    <li class="page-item page-next"><a class="page-link" aria-label="next page"
                                            href="javascript:void(0)">›</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}